#navbar{
    flex-direction: column;
}

#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 8px;
}

#home{
    height: 280px;
    padding: 0px 68px;
}

#home p{
    font-size: 13px;    
}

#home::before{
    height: 397px;

}

#services{
    flex-direction: column;

}

#services .box{
    padding: 14px;
    margin: 2px 0px;
    margin-bottom: 20px;
}

#services .box img{
    height: 84px;
    display: block;
    margin: auto;
}

#clients{
    flex-wrap: wrap;
    height: 210px;
}

#clients img{
    width: 90px;
    padding: 6px;
    height: auto;
}

#contact-box form{
    width: 80%;
}

.h-primary{
    font-size: 25px;
}

.h-secondary{
    font-size: 2.2rem;
}

.btn{
    font-size: 13px;
    padding:4px 8px;
}
